body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #add8e6; /* Açık mavi arka plan rengi */
  }
  
  #calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    max-width: 300px;
    margin: 0 auto;
  }
  
  #display {
    grid-column: span 4;
    height: 30px;
    font-size: 18px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
  }
  
  .function-btn {
    background-color: #f8f8f8;
    color: #333;
  }
  
  .operator-btn {
    background-color: #ffa07a;
    color: #fff;
  }
  